@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 92 51% 100%;
    --foreground: 92 57% 5%;
    --muted: 62 37% 92%;
    --muted-foreground: 62 11% 26%;
    --popover: 92 51% 100%;
    --popover-foreground: 92 57% 5%;
    --card: 92 51% 100%;
    --card-foreground: 92 57% 5%;
    --border: 92 3% 94%;
    --input: 92 3% 94%;
    --primary: 92 73% 85%;
    --primary-foreground: 92 73% 5%;
    --secondary: 62 73% 85%;
    --secondary-foreground: 62 73% 5%;
    --accent: 122 73% 85%;
    --accent-foreground: 122 73% 5%;
    --destructive: 21 94% 45%;
    --destructive-foreground: 0 0% 100%;
    --ring: 92 73% 85%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 92 32% 2%;
    --foreground: 92 33% 100%;
    --muted: 62 37% 8%;
    --muted-foreground: 62 11% 74%;
    --popover: 92 32% 2%;
    --popover-foreground: 92 33% 100%;
    --card: 92 32% 2%;
    --card-foreground: 92 33% 100%;
    --border: 92 3% 10%;
    --input: 92 3% 10%;
    --primary: 92 73% 85%;
    --primary-foreground: 92 73% 5%;
    --secondary: 62 73% 85%;
    --secondary-foreground: 62 73% 5%;
    --accent: 122 73% 85%;
    --accent-foreground: 122 73% 5%;
    --destructive: 21 94% 52%;
    --destructive-foreground: 0 0% 0%;
    --ring: 92 73% 85%;
  }
}
